/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*( Pagina no geral )*/
body {
    font-family: Arial, Arial, Helvetica, sans-serif; /*( Fonte da escrita )*/
    background-color: #d6e4f1 ; /*( Cor da pagina )*/
    border-radius: 5px; 
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*( Barra de navegação )*/
.navbar {
    background-color: #212529 !important; /*( Cor da barra de navegação )*/
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*( Altera a cor do texto dos links )*/
.navbar .nav-link {
    color: white !important;
}
.navbar .nav-link:hover {
    color: #ace6f8  !important;
}
.navbar-brand {
    color: #429dff  !important;
}

.online{
    color: white;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*( Altera a cor do botão de pesquisa )*/
.btn-outline-success {
    color: #429dff !important;
    border-color: #429dff !important;
}
.btn-outline-success:hover {
    background-color: #429dff !important;
    color: black !important;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*( Creditos )*/
footer {
    text-align: center;
    padding: 10px;
    background-color: #429dff;
    color: white;
    width: 100%;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.fim-da-pagina {
    bottom: 0; /*( Move a barra para o fim da pagina )*/
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*( Contato comercial )*/
#contato {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#contato a {
    text-decoration: none;
}

#contato svg {
    width: 25px; /*( Tamanho dos icones icones )*/
    height: 25px; /*( Tamanho dos icones icones )*/
    margin-right: 7px; /*( Espaço entre os icones )*/
}

.icone{ /*( Garante que o formato dos icones não seja alterado pelos botoes )*/
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*( Foto e descrição )*/
.card-text{
    text-align: justify; /*( Texto da discrição )*/
}

.profile-box {
    background-color: #429dff; /*( Cor de fundo diferente )*/
    padding: 15px;
    border-radius: 10px; /*( Borda circular) */
    text-align: center; /*( Nickname ) */
    width: 90%; /*( Ajuste para ocupar um bom espaço sem tocar as bordas )*/
    margin: 20px auto; /*( Centraliza e mantém espaço entre bordas )*/
    position: relative;
}

.profile-box img {
    border: 3px solid white; /*( Borda circular na imagem) */
}

.card {
    padding: 20px; /*( Espaçamento interno )*/
}